<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- css -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
  <link rel="stylesheet" th:href="@{../css/mercari.css}"/>
  <!-- script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <title>Rakus Items</title>
</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" th:href="@{/item/list}">Rakus Items</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <div>
        <form th:action="@{/logout}" method="post" name="logout">
          <ul class="nav navbar-nav navbar-right">
            <li><a id="logout" onclick="document.logout.submit();">Logout <i class="fa fa-power-off"></i></a></li>
          </ul>
        </form>
        <p class="navbar-text navbar-right">
          <span id="loginName">user: userName</span>
        </p>
      </div>
    </div>
  </nav>

  <div id="main" class="container-fluid">
    <!-- addItem link -->
    <div id="addItemButton">
      <a class="btn btn-default" th:href="@{/item/add}"><i class="fa fa-plus-square-o"></i> Add New Item</a>
    </div>

    <!-- 検索フォーム -->
    <div id="forms">
      <form th:action="@{/item/list}" class="form-inline" role="form" method="get" th:object="${itemSearchForm}">
        <div class="form-group">
          item name：<input type="text" class="form-control" id="name" placeholder="item name" name="name" th:field="*{name}">
        </div>
        <br>
        <div class="form-group">
        parent category：
          <select class="form-control" name="parentCategory" th:field="*{parentCategory}">
            <span th:each="parentCategory : ${parentCategorySearchList}">
              <option th:value="${parentCategory}" th:text="${parentCategory}"></option>
            </span>
          </select>
          child category：
          <select class="form-control" name="childCategory" th:field="*{childCategory}">
            <span th:each="childCategory : ${childCategorySearchList}">
              <option th:value="${childCategory}" th:text="${childCategory}"></option>
            </span>
          </select>
          grandChild category：
          <select class="form-control" name="grandChild" th:field="*{grandChild}">
            <span th:each="grandChild : ${grandChildSearchList}">
              <option th:value="${grandChild}" th:text="${grandChild}"></option>
            </span>
          </select>
        </div>
        <br>
        brand name：
        <div class="form-group">
          <input type="text" class="form-control" placeholder="brand name" name="brandName" th:field="*{brandName}">
        </div>
        <br>
        <div class="form-group"></div>
        <button type="submit" class="btn btn-default"><i class="fa fa-angle-double-right"></i> search</button>
      </form>
    </div>

    <div>
      <p th:text="${falseSearch}">
    </div>
    
    <!-- table -->
    <div class="table-responsive">
      <table id="item-table" class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>name</th>
            <th>price</th>
            <th>category</th>
            <th>brand</th>
            <th>cond</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item : ${itemList}">
            <td class="item-name"><a th:href="@{/item/detail?id=} + ${item.id}" th:text="${item.name}"></a></td>
            <td class="item-price" th:text="${item.price}"></td>
            <td class="item-category" th:text="${item.category}"></td>
            <td class="item-brand"><a href="" th:text="${item.brandName}"></a></td>
            <td class="item-condition" th:text="${item.condition}">3</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- pagination -->
    <nav class="page-nav pager">
      <form th:action="@{/item/list}" method="get" th:object="${itemSearchForm}">
        <input type="hidden" name="name" th:field="*{name}">
        <input type="hidden" name="parentCategory" th:field="*{parentCategory}">
        <input type="hidden" name="childCategory" th:field="*{childCategory}">
        <input type="hidden" name="grandChild" th:field="*{grandChild}">
        <input type="hidden" name="brandName" th:field="*{brandName}">
        <input type="hidden" name="page" th:value="${pagination.page-1}">
        <span th:if="${pagination.page}!=1">
          <button>&larr; prev</button>
        </span>
      </form>
      
      <form th:action="@{/item/list}" method="get" th:object="${itemSearchForm}">
        <input type="hidden" name="name" th:field="*{name}">
        <input type="hidden" name="parentCategory" th:field="*{parentCategory}">
        <input type="hidden" name="childCategory" th:field="*{childCategory}">
        <input type="hidden" name="grandChild" th:field="*{grandChild}">
        <input type="hidden" name="brandName" th:field="*{brandName}">
        <input type="hidden" name="page" th:value="${pagination.page+1}">
        <span th:if="${pagination.page} != ${pagination.totalPage} and ${pagination.totalPage} != 0">
          <button>next &rarr;</button>
        </span>
      </form>
    </nav>
<!--         <ul class="pager" th:field="${padination}">
          <span th:if="${pagination.page}!=1">
            <li class="previous"><a th:href="@{/item/list?page=} + ${pagination.page-1}">&larr; prev</a></li>
          </span>
          <span th:if="${pagination.page}!=${pagination.totalPage}">
            <li class="next"><a th:href="@{/item/list?page=} + ${pagination.page+1}">next &rarr;</a></li>
          </span>
        </ul> -->
      
    
      <!-- ページ番号を指定して表示するフォーム -->
      <div id="select-page">
        <form class="form-inline" th:action="@{/item/list}" method="get" th:object="${itemSearchForm}">
        <input type="hidden" name="name" th:field="*{name}">
        <input type="hidden" name="parentCategory" th:field="*{parentCategory}">
        <input type="hidden" name="childCategory" th:field="*{childCategory}">
        <input type="hidden" name="grandChild" th:field="*{grandChild}">
        <input type="hidden" name="brandName" th:field="*{brandName}">
          <div class="form-group">
            <div class="input-group col-xs-6">
              <label></label>
              <input type="text" class="form-control" name=page>
              <!-- 総ページ数 -->
              <div class="input-group-addon" th:text="'/' + ${pagination.totalPage}"></div>
            </div>
            <div class="input-group col-xs-1">
              <button type="submit" class="btn btn-default">Go</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>